.header{
    width: 92.9%;
}

.input_div{
    width: 450px;
}

.header,
.recipes{
    background-color: #F2EFE7;
}

.input_div,
.results,
.shopping_lists {
    background-color: white;
}

.input_button {
    background: linear-gradient(to right bottom, #b47722, #8b386a);
    border-radius: 25px;
    color: white;
}

.input_itself , 
.input_itself {
    outline: none;
}

span .icon {
    font-size: 1.5rem;
    color: #b47722
}

.space {
    visibility: hidden;
}

.home_div{
    width: 92.9%;
    height: 100vh;
}

.results,
.recipes,
.shopping_lists {
    height: 185vh;
    overflow: hidden;
}